NPCTEMPLATE
########怪力のマーくん（怪力的小马）#########
{
templatename=sb_n1
makeatnobody=1
makeatnosee=1
type=100
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
########鉄壁のマモくん（铁壁的小摩）#########
{
templatename=sb_n2
makeatnobody=1
makeatnosee=1
type=100
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#########疾風のコズぴよ（疾风的小柯兹）#########
{
templatename=sb_n3
makeatnobody=1
makeatnosee=1
type=100
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
